.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: #F0F9FF;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}